target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
*.log
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
.apt_generated/
.apt_generated_test/
.springBeans
.sts4-cache
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
HELP.md
